@model WIMS.Models.TeamModels.TeamCreate

@{
    ViewData["Title"] = "Create";
}

<div class="card team-create mx-auto">
    <div class="card-header table-header">
        <h4>Add new Team</h4>
        
    </div>
    <div class="card-body row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
