@model WIMS.Models.TeamModels.TeamEdit

@{
    ViewData["Title"] = "Edit";
}



<h3 class="mt-5">Edit Team</h3>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="mt-5 row d-flex justify-content-center">
    
    <div class="col-md-4 mr-5">
        <div class="card">
            <div class="card-header h5 table-header">Team Name</div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="TeamId" type="hidden" class="form-control" />
                        <span asp-validation-for="TeamId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="TeamName" class="control-label bg-light h5"></label>*@
                        <input asp-for="TeamName" class="form-control" />
                        <span asp-validation-for="TeamName" class="text-danger"></span>
                        <div class="form-group mt-4">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>

    <div class=" col-md-4 ml-5 ">
        <div class="card">
            <div class=" h5  table-header card-header"> Employees </div>
            <div class="card-body ">
                @if (Model.Employees.Any())
                {
                <ul>
                    @foreach (var employee in Model.Employees)
                    {
                        <li class="card-title> ">@employee</li>
                    }
                </ul>
                    
                }
                else
                {
                    <h5>@($"No employees are currently assigned to team {Model.TeamName}")</h5>
                }
            </div>
            <div class="card-footer bg-transparent">
                <a class="btn btn-primary mx-1" style="width:auto" asp-controller="Team"
                   asp-route-teamId="@Model.TeamId"
                   asp-action="EditTeamMembers">Add or Remove Employees</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
